.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
  max-width: fit-content;
  z-index: 9;
}

.grid-item {
  padding: 10px;
  z-index: 9;
}

.thumbnail {
  border-radius: 12px;
  object-fit: cover;
  border: 2px solid rgba(0, 0, 0, 0.849);
}

.video-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  z-index: 999;
}

.video-container > iframe {
  border-radius: 20px;
  overflow: hidden;
  z-index: 999;
}

.close-btn {
  float: right;
  background-color: black;
  color: white;
  border-radius: 50%;
  margin-bottom: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.close-btn:hover {
  float: right;
  background-color: white;
  color: black;
}
